.piano-roll {

	height: 100%;
	overflow: hidden;
	position: relative;

	.toolbar {
		width: 100%;
		height: 4em;

		overflow: hidden;
		position: absolute;
		
		padding: 1em;
		box-sizing: border-box;

		background: $colorNormal;
		border-top: 1px solid $colorLight;

		.tools div, .settings div {
			display: inline-block;
			margin-right: .5em;
			border-radius: 3px;
			cursor: pointer;
			color: rgba(255,255,255,.75);

			width: 2em;
			height: 2em;
			overflow: hidden;
			position: relative;

			span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%)
			}

			&:hover { background-color: $colorDark; color: #fff; }
			&.active { background-color: $colorDarker; color: #fff; }
		}

		.tools {
			float: left;
		}

		.settings {
			float: right;

			.sig, .bpm {
				span {
					font-family: DroidSansMono;
					font-size: .7em;
					line-height: 1.2em;
				}
			}

			.plg {
				width: 10em;
				box-shadow: inset 0 0 0 1px $colorDark;

				span {
					left: .25em;
					transform: translate(0, -50%);

					&::before {
						padding-right: .25em;
					}
				}
			}
		}
	}

	.controls {
		position: absolute;
		bottom: 0px; left: 0px;
		top: auto !important;
		
		width: 100%;
		height: 15%;
		z-index: 3;

		border-top: 2px solid #000;

		.properties {
			width: 5em;
			height: 100%;
			float: left;
			color: #999;
			background-color: #000;
			box-sizing: border-box;

			ul {
				list-style: none;

				li {
					font-size: .8em;
					padding: .5em;
					cursor: pointer;

					&.active { background-color: #111; color: $colorLighter; }
					&:hover { background-color: #090909; }
				}
			}
		}

		.editor {
			width: calc(100% - 5em);
			height: 100%;
			float: left;
			background-color: #111;
		}
	}

	.mode {
		position: absolute;
		width: 5em;
		height: 3em;
		background-color: $colorLighter;
		top: 4em;
		left: 0em;
		z-index: 4;
		cursor: pointer;
		box-sizing: border-box;
		padding: .9em 0em 0em .5em;

		span {
			transform: translate(-50%,-50%);
			color: #fff;
			padding: .25em;
			border-radius: 3px;

			&:hover { background-color: rgba(0,0,0,.25); }
			&.active { background-color: rgba(0,0,0,.5); }
		}
	}


	.wrapper {
		top: 4em;
		height: calc(85% - 4em);
		overflow: scroll;
		position: absolute;
		padding: 16px 16px 0px 0px;
		box-sizing: border-box;

		.ss-track-x { left: 5em; width: calc(100% - 5em - 16px); bottom: auto; top: 0px; }
		.ss-dual.ss-track-y { top: 16px; }
		.ss-corner { bottom: auto; top: 0px; }

		.ss-track { background-color: #000; }
		.ss-handle { background-color: #fff; }
		.ss-corner { background-color: #fff; box-shadow: inset 0 0 0 4px #000; }

		.keys {

			/* heights get set via JS */
			width: 5em;

			background-color: #eee;
			position: relative;
			top: 2em;
			z-index: 3;
			float: left;

			cursor: pointer;
			font-family: DroidSansMono;

			.key {

				color: #666;
				display: block;
				position: relative;

				text-align: right;
				background-color: #eee;

				span {
					font-size: .8em;
					position: absolute;
					top: 50%; right: .8em;
					transform: translateY(-50%);
				}

				&:hover { background-color: #ddd; }
				&:active { background-color: #bbb; }
				&.white { box-shadow: inset 0px -1px #ddd; }
				
				&.black {
					width: 50%;

					background-color: #333;
					border-radius: 0px 2px 2px 0px;

					position: absolute;
					z-index: 99;

					&:hover { background-color: #222; }
					&:active { background-color: #000; }
				}
			}
		}

		.staff {

			width: 200%;
			height: 100%;

			position: relative;
			left: 5em;
			@include no-select;

			.timeline {
				position: relative;
				height: 2em;
				width: 100%;
				z-index: 1;
				background-color: #111;
				border-bottom: 2px solid $colorNormal;
			}

			.cursor {
				position: absolute;
				top: 0px;
				left: 0px;
				z-index: 2;

				width: 1px;
				height: calc(100% - 2em);

				margin-top: 2em;
				background-color: $colorSaturated;

				&::before {
					content: " ";
					position: absolute;
					top: -10px;
					left: -8px;
					height: 100%;
					width: 1px;
					border: 8px solid transparent;
					border-top: 10px solid $colorSaturated;
				}
			}

			.key {
				position: relative;
		
				color: #222;
				
				display: block;
				background-color: #333;

				box-shadow: inset 0px -1px #222; 

				.note {
					height: 100% !important;
					line-height: 1.3em;
					display: inline-block;
					width: 100px;

					position: absolute !important;
					cursor: pointer;

					background-color: $colorLight;
					box-shadow: inset 0px 0px 0px 1px $colorDark, inset 0px 2px $colorLighter;
					color: rgba(255,255,255,.75);
					padding: .5em;

					box-sizing: border-box;
					border-radius: 3px;

					font-size: .8em;
					font-family: DroidSansMono;
					opacity: .9;

					&.slide::before {
						position: absolute;
						bottom: .1em;
						right: .2em;

						content: "\e810";
						font-family: "icon";
						color: $colorDarker;
					}

					&.ui-selected {
						box-shadow: inset 0px 0px 0px 2px #fff;
					}
				}

				&.black {

					width: 100%;
					background-color: #222;
				}
			}
		}
	}
}