.component-sample-editor {

	padding: 1em;
	height: 100%;
	box-sizing: border-box;

	.dropspace {
		width: 100%;
		height: 100%;
	}

	.wave {
		height: 100%;
		width: 100%;
		background-size: 100% 100%;
	}
}