@import "variables";

form {
	
	table {

		td {
			font-size: .8em;
			padding: .5em 1em;

			color: #999;

			span.help {
				border-bottom: 1px dotted #999;
				cursor: help;
			}
		}
	}
}

button:not(.ui-button-icon-only), input[type=text], select, textarea {
	width: 100%;
	border: 0px;
	color: #999;
	padding: .3em .5em;
	box-sizing: border-box;

	&.invalid { box-shadow: inset 0 0 0 1px #f00 !important }
}

input[type=text], textarea, select {
	box-shadow: inset 0px 0px 1px #000;
	border: 1px solid #333;
	border-radius: 2px;
	background: #111;
	&:focus { border-color: #444; }	
}

.select-wrapper {
	
	position: relative;
	color: #999;
	cursor: pointer;

	&::before {
		position: absolute;
		top: 50%;
		transform: translate(0,-50%);
		right: 1em;
		z-index: 1;
		content: "\e82e";
		font-family: "icon";
		pointer-events: none;
	}

	select {
		color: inherit;
		padding: .1em;
		box-shadow: none;
	}

	select, option {
		-ms-appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
	}

	option {
		padding: .2em;
	}
}

button:not(.ui-button-icon-only), input[type=button] {

	color: rgba(255, 255, 255, 0.5);
	background-color: #333;
	border: 1px solid #666;
	box-shadow: none;

	&:hover {
		filter: brightness(1.25);
	}
}

.button-browse {

	padding: 1em;

	label {
		display: inline-block;

		width: 100%;
		text-align: center;

		padding: .5em 1em;
		border: 1px solid #000;
		border-radius: 3px;

		cursor: pointer;
		background: #111;

		white-space: nowrap;
		box-sizing: border-box;

		text-overflow: ellipsis;
		overflow: hidden;

		color: #999;
		box-shadow: inset 0 0 0 1px #333;

		input { display: none; }
	}
}

.gh-button {
	background-image: linear-gradient(to bottom,#fcfcfc,#eee);
	display: inline-block;
	color: #333;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	text-decoration: none;
	line-height: 26px;
	font-weight: 600;
	font-size: 12px;
	padding: 0 10px;
	color: #333 !important;
	cursor: pointer;

	&:hover {
		background-color: #ddd;
		background-image: linear-gradient(to bottom,#eee,#ddd);
		border-color: #ccc;
	}

	&::before {
		content: "\f09b";
		font-family: "icon";
		font-size: 1.5em;
		position: relative;
		top: 2px;
		padding-right: .5em;
	}
}